<button><h1><%= link_to "Add aurthor", new_aurthor_path %></h1></button><br><br>
<button><h1><%= link_to "Show aurthor list", index_path %></h1></button><br><br>

<button><h1><%= link_to "Add Book", new_book_path %></h1></button><br><br>
<button><h1><%= link_to "Show Book list", indexb_path %></h1></button>

